/*Page*/
.page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 350;
  color: rgb(36, 35, 35);
}
/*Header*/
.navigationBar{
  display: flex;
  margin: 0 auto;
  padding: 20px 60px 20px 60px;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: #f2c1009e;
}
.navigationItem {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}
/*Sections*/
.page-title {
    margin: 120px 60px 100px 40px;
}
.leftPart {
  width: 100%;
  color: white;
  background-color: #242a35ba;
}
.sectionTitle {
    position: relative;
    margin: 0;
    margin-bottom: 36px;
    padding-left: 60px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    background-color: #ccc
  
}
.contact {
  padding: 52px 0px 52px 0px;
  background-color: #242a35ba;
}
.contactsList {
  list-style: none;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}
.contactItem {
  margin-bottom: 25px;
}
.contactItemChild {
  margin-bottom: 0;
}
.contact__item a {
  display: block;
}
.mainTitle  {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
}

.aboutMe {
  padding: 0;
  margin-bottom: 54px;
}
.aboutMe p {
  margin: 0 60px 0 60px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
}
/* Footer */
.footer {
    display: flex;
    margin: 0 auto;
    padding: 20px 60px 20px 60px;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #423a48;
}
.footerIcon {
  justify-self: end;
  height: 40px;
  color:white;
}
.cvYear {
  justify-self: center;
}
.footerRss{
  justify-self: end;
    height: px;
}