/*Header*/
.navigationBar{
  display: flex;
  margin: 0 auto;
  padding: 20px 60px 20px 60px;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: #ccc;
}






/* Footer */
.footer {
    display: flex;
    margin: 0 auto;
    padding: 20px 60px 20px 60px;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #423a48;
}
.footerIcon {
  justify-self: end;
  height: 40px;
  color:white;
}
.cvYear {
  justify-self: center;
}
