/*Page*/
/*
.page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 350;
  color: rgb(36, 35, 35);
}
*/
/*Header*/
.navigationBar{
  display: flex;
  margin: 0 auto;
  padding: 20px 60px 20px 60px;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: #f2c1009e;
}
.navigationItem {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}
.pHeading {
font-size: 35px;
font-style: italic;
text-align: center;
}
.list {
list-style-type: none;
}
.mainTitle  {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
}
.pContent {
font-size: 18px;
}
.image {
  float: right; 
  margin: 0 0 5px 5px;
}
.code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
a:link {
  color: blue;
  font-size: 18px;
}

/* visited link */
a:visited {
  color: grey;
  font-size: 18px;
}
/* Footer */
.footer {
    display: flex;
    margin: 0 auto;
    padding: 20px 60px 20px 60px;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #423a48;
}
.footerIcon {
  justify-self: end;
  height: 40px;
  color:white;
}
.cvYear {
  justify-self: center;
}
.footerRss{
  justify-self: end;
    height: px;
}